.round-corners{
    border-radius: 2rem;
}

.rounded-block{
    &.wp-block-cover{
        > div{
            width: 100%;
        }
        > img{
            /* height: 100% !important;
            width: 100% !important; */
            object-fit: none;
            object-position: left top !important;
            left: -130px;
            top: -130px;
            @include media(mobile-only){
                width: 200%;
                height: 200%;
            }
        }
    }
    background-color: var(--global--color-white);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
    @include media(mobile-only){
        padding: 1rem !important;
    }
    &:first-child{
        padding: 2rem 4rem 2rem 0;
    }
    &:not(:first-child){
        padding:2rem 4rem;
    }
    .absolute-dog{
        position: absolute;
        bottom: -128px;
        left: -285px;
        @media screen and (max-width:1100px) {
            left: -400px;
            @include media(mobile-only){
                position: relative;
                width: 80%;
                margin: 0 auto;
                left: initial;
                bottom: initial;
            }
        }
    }
}