#page{
    .leaflet-popup-close-button{
        color: #6E6E6E;
    }
    .leaflet-popup-content-wrapper,.leaflet-popup-tip{
        background-color: #ffe9cd;
    }
}


#ask_property_form{
    //margin-left: calc(100px + 2rem);
    padding-top: 2rem !important;
    @include media(mobile-only){
        .centering_wrapper{
            width: 100%;
        }
        margin: 0 auto ;
    }
    @include media(mobile){
        margin-top: -268px !important;
    }
}

#ask-property-ariane{
    @include media(mobile-only){
        display: none;
    }
    left: 1rem;
    max-width: 100px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    &.activeG1{
        &.activeG2{
            #quand{
                circle:nth-child(1){
                    fill: var(--global--color-orange);
                }
                circle:nth-child(2){
                    stroke: var(--global--color-black);
                }
                line{
                    stroke: var(--global--color-black);
                }
                path{
                    fill: var(--global--color-black);
                }
            }
            &.activeG3{
                #quoi{
                    circle:nth-child(1){
                        fill: var(--global--color-orange);
                    }
                    circle:nth-child(2){
                        stroke: var(--global--color-black);
                    }
                    line{
                        stroke: var(--global--color-black);
                    }
                    path{
                        fill: var(--global--color-black);
                    }
                }
                &.activeG4{
                    #combien{
                        circle:nth-child(1){
                            fill: var(--global--color-orange);
                        }
                        circle:nth-child(2){
                            stroke: var(--global--color-black);
                        }
                        line{
                            stroke: var(--global--color-black);
                        }
                        path{
                            fill: var(--global--color-black);
                        }
                    }
                }
            }
        }
    }
}


.post-type-archive{
    overflow-x: hidden;
    #content{
        position: relative;
        .sos-container{
            padding: 2rem 0;
            text-align: center;
            a{
                display: block;
                width: fit-content;
                margin: 1rem auto;
            }
        }
    }
}

#modal_like{
    margin: 0;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.5);
    z-index: 9999;
    .inner_modal_container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 2rem;
        padding: 3rem 3rem 2rem;
        .inner_modal{
            text-align: center;
            span{
                padding: 0 18px;
                border-radius: 1rem;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 2rem;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.070);
                }
            }
            h2{
                margin-bottom: 1rem;
            }
            a.button{
                display: block;
                width: fit-content;
                margin: 1rem auto;
            }
        }
    }
}

//Archives form
#page .property_form{
    transition: all .3s ease-in-out;
    width: 100%;
    &.map_open{
        form{
            .inner_form{
                z-index: 2;
            }
        }
    }
    form{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 0;
        .inner_form{
            display: flex;
            flex-direction: column;
            &:not(:last-child){
                width: 100%;
            }
            label{
                margin-bottom: 0;
            }
            input,select{
                margin: 0;
                width: 100%;
                height: 100%;
                min-height: 40px;
                padding: .75rem 1.5rem;
            }
            input[type="image"]{
                height: 56px;
                width: 56px;
                background-color: var(--global--color-orange);
                border-radius: 99rem;
                padding: .5rem;
                box-shadow: #f0810ac6 10px 10px 45px;
            }
            &.submit-image{
                justify-content: end;
            }
        }
    }
    @include media(desktop-only){
        form{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            @media screen and (max-width:650px) {
                grid-template-columns: repeat(2, 1fr);
                @media screen and (max-width:450px) {
                    grid-template-columns: 1fr;
                }
            }
            .inner_form{
                input[type="submit"]{
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
    }
}

.flex_property{
    display: flex;
    gap: 3rem;
    > .button{
        height: fit-content;
    }
}

.home #page .property_grid{
    grid-gap:2em; 
}
//Archives grid w/ card
#page .property_grid{
    @include media(mobile-only){
        order: 2;
    }
    transition: all .3s ease-in-out;
    width: 100%;
    &.map_open{
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
        @include media(desktop-only) {
            grid-template-columns: 1fr;
        }
        @include media(mobile-only){
            width: 100%;
        }
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width:1200px) {
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width:650px) {
            grid-template-columns: 1fr;
        }
    }
    grid-gap: 3rem;
    article{
        margin-bottom: 0;
        .property_card{
            display: grid;
            grid-template-columns: 1fr;
            height: 100%;
            padding-bottom: 98px;
            grid-auto-rows: min-content;
            position: relative;
            background-color: var(--global--color-white);
            border-radius: 2rem;
            overflow: hidden;
            box-shadow: 10px 10px 45px rgba(0,0,0,.16);
            .link-img-property{
                margin:0;
            }
            h3:first-of-type{
                font-size: 20px;
                margin: 1rem 1rem 0 1rem;
            }
            > *:not(img){
                margin: 0 1rem;
                &:last-child{
                    margin: 1rem auto;
                }
            }
            .like_container{
                position: absolute;
                right: 0;
                top: calc(275px - 1.5rem);
                transform: translateY(-50%);
                svg{
                    cursor: pointer;
                }
                &.like{
                    svg *{
                        fill: var(--global--color-white);
                    }
                }
            }
            h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
            .property_services{
                svg, .svg{
                    width: 2rem;
                    height: auto;
                    vertical-align: unset;
                } 
            }

            .property_city{
                color: #8F8F8F;
                font-size: 1.25rem;
                font-weight: 700;
            }
            .property_price{
                color: var(--global--color-orange);
                font-size: 1.25rem;
                font-weight: 700;
            }
            .property_during{
                color: #8F8F8F;
            }
            .button{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,0);
                //width: fit-content;
                width : max-content;
                display: block;
                box-shadow: none;
                color: var(--global--color-orange);
                background-color: var(--global--color-transparent);
                border-color: var(--global--color-orange);
                transition: all .25s ease-in-out;
                &:hover{
                    background-color: var(--global--color-orange);
                    color: var(--global--color-white);
                }
            }
            img{
                width: 100%;
                height: 275px;
                object-fit: cover;
            }
        }
    }
}

//Archive MAP

#page .map_container{
    @include media(mobile){
        padding-top: 138px;
        &.active{
            z-index: 1;
        }
    }
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    &.active{
        transform: translateX(0);
        @include media(mobile-only){
            z-index: 9;
        }
    }
    #mapProperties{
        width: 100%;
        height: 100vh;
        position: sticky !important;
        top: 105px;
    }
    @include media(mobile-only){
        position: fixed;
        width: 100%;
        height: calc(50vh - 70px);
        bottom: 0;
        left: 0;
        #mapProperties{
            position: relative !important;
            height: 100%;
            top: 0;
        }
    }
} 
#page .container{
    display: flex;
    gap: 3rem;
    @include media(mobile-only){
        flex-direction: column;
    }
    button{
        height: fit-content;
        width: 210px;
        transition: all .3s ease-in-out;
        &:active, &:hover{
            color: var(--global--color-white);
            background-color: var(--global--color-lightorange);
        }
        @include media(mobile-only){
            margin: 0 auto;
            &.map_open{
                width: fit-content;
                padding: .5rem;
                position: fixed;
                z-index: 999;
                top: calc(50vh + 70px + 1rem);
                right: 1rem;
            }
        }
        @include media(mobile){
            &.map_open{
                box-shadow: none;
                background-color: #6E6E6E;
                width: fit-content;
                z-index: 999;
                position: fixed;
                right: 2rem;
                top: calc(146px + 8rem);
            }
        }
    }
}