// Footer
.site-footer {
	z-index: 1;
	padding: 1rem 0;
	background-color: #6E6E6E;
	h2,p,ul:not(.wp-block-social-links){
		font-family: Arial, 'Trebuchet MS', Helvetica, sans-serif !important;
		font-size: 18px;
	}
	li{
		list-style-type: none !important;
	}
	.site-info{
		section > .wp-block-columns .wp-block-column{
			margin: 0!important;
			@include media(mobile-only){
				margin: 0 !important;
			}
			h2,p,ul{
				margin: 0;
				padding: 0 !important;
			}
			> .wp-block-image{
				@include media(mobile-only){
					> img{
						max-width: 50%;
					}
				}
			}
			> .wp-block-group{
				*{
					margin: 0;
					.wp-block-columns{
						@include media(mobile-only){
							display: grid;
							grid-template-columns: repeat(3,1fr);
							grid-gap: 4px;
						}
						.wp-block-column{
							margin: 0 .5rem .5rem 0 !important;
							@include media(mobile-only){
								margin: 0 !important;
							}
							figure{
								@include media(mobile-only){
									text-align: left;
								}
							}
						}
					}
				}
			}
		}		
	}

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: calc(3 * var(--global--spacing-vertical));
	}

	@include media(mobile-only) {

		.no-widgets & {
			margin-top: calc(3 * var(--global--spacing-vertical));
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	@extend %responsive-aligndefault-width;
	padding-top: 0;
	padding-bottom: 0;
	margin:0 auto;
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	justify-content: center;
	//border-top: 3px solid var(--global--color-border);

	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
		a{
			text-decoration: none;
		}
		.site-description{
			text-align: center;
			color:var(--global--color-green);
			font-size:var(--global--font-size-md);
		}
		.footer-navigation-social{
			list-style-type: none;
			display: inline-block;
			padding-left:0;
			width:100%;
			li{
				width:20%;
				text-align: center;
				display: inline-block;
				svg{
					height: 18px;
				}
			}
		}
	}

	.powered-by {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(desktop) {
		/* display: flex;
		align-items: flex-end; */

		.powered-by {
			margin-top: initial;
			margin-left: auto;
		}
	}

	a {
		color: var(--footer--color-link);

		&:link,
		&:visited,
		&:active {
			color: var(--footer--color-link);
		}

		&:hover {
			color: var(--footer--color-link-hover);
		}

		&:focus {
			color: var(--footer--color-link-hover);

			.is-dark-theme & {
				color: var(--wp--style--color--link, var(--global--color-background));
			}

			// Change colors when the body background is white.
			.has-background-white & {
				color: var(--wp--style--color--link, var(--global--color-white));
			}
		}
	}
}
