body.home, body.page-template-animal-path{
    background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/background.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    @include media(mobile-only){
        background-size: 250%;
    }
    //background-attachment: fixed;
    #page{
        background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/Ligne pointille.svg'),url('/wp-content/themes/avec-ou-sans-cravate/assets/images/bgwhite.png');
        background-repeat: no-repeat,repeat-y;
        background-size:50%, 100%;
        background-position: -50px 400px, center center;
        @media screen and (max-width:1200px){
            background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/bgwhite-mobile.png');
            background-repeat: repeat-y;
            background-size: 300%;
            background-position: center center;
        }
    }
}
body{
    background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/background.png');
    background-repeat: repeat-y;
    //background-attachment: fixed;
    background-size: 100% auto;
    @include media(mobile-only){
        background-size: 250%;
    }
    #page{
        background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/bgwhite.png');
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: center center;
        @include media(mobile-only){
            background-image: url('/wp-content/themes/avec-ou-sans-cravate/assets/images/bgwhite-mobile.png');
            background-repeat: repeat-y;
            background-size: 300%;
            background-position: center center;
        }
    }
}