//coworker menu

.menu{
	margin: 1rem 0;
	.owner_menu,.coworker_menu{
		#menu-owner, #menu-coworker{
			box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
			display: flex;
			justify-content: space-around;
			background-color: var(--global--color-white);
			border-radius: 4rem;
			padding: .5rem;
			li{
				list-style-type: none;
				a{
					display: flex;
					text-decoration: none;
					font-weight: bold;
					font-family: var(--global--font-trebuchet);
					font-size: 17px;
					padding: .5rem 1rem;
					@include media(mobile-only){
						font-size: 0;
						padding: .25rem;
					}
				}
				&.current_page_item{
					a{
						background-color: var(--global--color-orange);
						color: var(--global--color-white);
						border-radius: 4rem;
					}
					&.dashboard{
						a::before{
							background: url('assets/images/pictos/dashboard-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.profil{
						a::before{
							background: url('assets/images/pictos/profil-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.company{
						a::before{
							background: url('assets/images/pictos/company-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.my-property{
						a::before{
							background: url('assets/images/pictos/myproperty-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.propose-property{
						a::before{
							background: url('assets/images/pictos/propose-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.like{
						a::before{
							background: url('assets/images/pictos/like-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
					&.history{
						a::before{
							background: url('assets/images/pictos/history-active.svg');
							background-size: contain;
							background-repeat: no-repeat;
						}
					}
				}
				&.dashboard,&.profil,&.company,&.my-property,&.propose-property,&.history,&.like{
					a::before{
						content: '';
						position: relative;
						width: 35px;
						height: auto;
						display: block;
						@include media(mobile-only){
							height: 35px;
						}
					}
				}
				&.dashboard{
					a::before{
						background: url('assets/images/pictos/dashboard.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.profil{
					a::before{
						background: url('assets/images/pictos/profil.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.company{
					a::before{
						background: url('assets/images/pictos/company.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.my-property{
					a::before{
						background: url('assets/images/pictos/myproperty.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.propose-property{
					a::before{
						background: url('assets/images/pictos/propose.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.like{
					a::before{
						background: url('assets/images/pictos/like.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				&.history{
					a::before{
						background: url('assets/images/pictos/history.svg');
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}




// Navigation

.blog-pagination{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}

// Mobile menu toggles
.menu-button-container {
	display: none;
	justify-content: space-between;
	position: absolute;
	right: 0;
	padding-top: calc(0.5 * var(--global--spacing-vertical));
	padding-bottom: calc(0.25 * var(--global--spacing-vertical));

	@include media(mobile-only) {
		display: flex;
		padding: 0 !important;
	}

	// Override specificity from default button styles.
	#primary-mobile-menu {
		display: flex;
		margin-left: auto;
		padding: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit))) calc(0.5 * var(--button--padding-horizontal));
		font-size: var(--primary-nav--font-size-button);
		font-weight: var(--primary-nav--font-weight-button);
		background-color: transparent;
		border: 2px solid var(--global--color-orange);
		color: var(--global--color-orange);
		box-shadow: none;
		.dropdown-icon {
			display: flex;
			align-items: center;

			img {
				margin-left: calc(0.25 * var(--global--spacing-unit));
			}

			// Menu icon is off-center vertically to prevent blurry pixels.
			&.open .svg-icon {
				position: relative;
				top: -1px;
			}

			&.close {
				display: none;
			}
		}

		&[aria-expanded*="true"] {

			.dropdown-icon {

				&.open {
					display: none;
				}

				&.close {
					display: flex;
					> img{
						height: 17px;
					}
					.has-logo.has-title-and-tagline & {
						animation-name: twentytwentyone-close-button-transition;
						animation-duration: 0.3s;
					}
				}
			}
		}
	}

	// When the menu is open, hide the close button and show the hide button.
	.primary-navigation-open & {
		width: 100%;
		z-index: 500;
		background-color: var(--global--color-white);
		max-width: 90%;
		margin-top: 14px;
		margin-right: 7%;

		#primary-mobile-menu {
			position: static;
		}
	}
}

.primary-navigation {
	position: absolute;
	top: var(--global--admin-bar--height);
	right: 1rem;
	color: var(--primary-nav--color-text);
	font-size: var(--primary-nav--font-size);
	line-height: 1.15;
	margin-top: 0;
	margin-bottom: 0;
	a{
		border: solid 1px transparent;
	}

	// Mobile menu closed
	> .primary-menu-container {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		// Height of the menu-button-container using font size, line height, and total padding, plus 5px so the focus of the first item is visible.
		padding-top: calc(var(--button--line-height) * var(--primary-nav--font-size-button) + 42px + 5px);
		padding-left: var(--global--spacing-unit);
		padding-right: var(--global--spacing-unit);
		padding-bottom: var(--global--spacing-horizontal);
		background-color: var(--global--color-white);
		transition: all .15s ease-in-out;
		transform: translateY(var(--global--spacing-vertical));

		@include media(mobile-only) {
			height: 100vh;
			z-index: 499;
			overflow-x: hidden;
			overflow-y: auto;
			border: 2px solid transparent;
			text-align: right;
			.has-logo.has-title-and-tagline & {
				position: fixed;
				transform: translateY(0) translateX(100%);
			}

			.admin-bar .has-logo.has-title-and-tagline & {
				top: var(--global--admin-bar--height);
			}

			.admin-bar & {
				height: calc(100vh - var(--global--admin-bar--height));
			}

			&:focus {
				border: 2px solid var(--global--color-primary);
			}
		}
	}

	// Mobile menu open
	.primary-navigation-open & {

		@include media(mobile-only) {
			left: 0;right: 0;bottom: 0;
			position: fixed;
			z-index: 2; // To be greater than the cover block and embeds.
		}

		> .primary-menu-container {
			position: absolute;
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
			> ul{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				flex-direction: column;
				> li{
					margin: 1rem;
					width: fit-content;
				}
			}
		}
	}

	.primary-navigation-open .has-logo.has-title-and-tagline & {
		@include media(mobile-only) {

			> .primary-menu-container {
				transform: translateX(0) translateY(0);
			}
		}
	}

	@include media(mobile) {
		position: relative;
		margin-left: auto;

		// Hide Mobile menu on desktop
		> .primary-menu-container {
			visibility: visible;
			opacity: 1;
			position: relative;
			padding: 0;
			background-color: transparent;
			overflow: initial;
			transform: none;
		}

		// Hide mobile menu toggle
		#toggle-menu {
			display: none;
		}

		// Hide sub-sub-menus
		> .primary-menu-container ul > li .sub-menu-toggle[aria-expanded="false"] ~ ul {
			display: none;
		}

		// Don't adjust position when logged-in
		.admin-bar & {
			top: initial;

			> .primary-menu-container {
				top: initial;
			}
		}
	}

	// Menu list wrapper
	> div > .menu-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		max-width: none;
		padding-left: 0;
		position: relative;
		align-items: center;
		@include media(mobile-only) {
			padding-bottom: 100px;
			justify-content: flex-end;
			ul {
				padding-left: 0;
			}
		}

		li {
			display: block;
			position: relative;
			width: 100%;

			@include media(mobile) {
				margin: 0;
				width: inherit;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		// Sub-menu buttons
		.sub-menu-toggle {
			display: flex;
			height: calc(2 * var(--primary-nav--padding) + 1.15em + 1px);
			width: 44px;
			padding: 0;
			justify-content: center;
			align-items: center;
			background: transparent;
			color: currentColor;
			border: none;

			&:focus {
				outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
			}

			@include media(mobile-only) {
				display: none;
			}

			.icon-plus,
			.icon-minus {
				height: 100%;
				display: flex;
				align-items: center;

				svg {
					margin-top: -1px;
				}
			}

			.icon-minus {
				display: none;
			}

			// When the sub-menu is open, display the minus icon
			&[aria-expanded="true"] {

				.icon-minus {
					display: flex;
				}

				.icon-plus {
					display: none;
				}
			}
		}

		// Sub-menus Flyout
		> li > .sub-menu {

			position: relative;

			@include media(mobile) {
				left: 0;
				margin: 0;
				min-width: max-content;
				position: absolute;
				top: 100%;
				padding-top: 3px;
				transition: all 0.5s ease;
				z-index: 88888;

				&:before,
				&:after {
					content: "";
					display: block;
					position: absolute;
					width: 0;
					top: -10px;
					left: var(--global--spacing-horizontal);
					border-style: solid;
					border-color: var(--primary-nav--border-color) transparent;
					border-width: 0 7px 10px 7px;
				}

				&:after {
					top: -9px;
					border-color: var(--global--color-background) transparent;
				}

				li {
					background: var(--global--color-background);
				}

				&.submenu-reposition-left {

					/* rtl:ignore */
					left: 0;

					/* rtl:ignore */
					right: auto;

					&:before,
					&:after {

						/* rtl:ignore */
						left: var(--global--spacing-horizontal);

						/* rtl:ignore */
						right: auto;
					}
				}

				&.submenu-reposition-right {

					/* rtl:ignore */
					right: 0;

					/* rtl:ignore */
					left: auto;

					&:before,
					&:after {

						/* rtl:ignore */
						left: auto;

						/* rtl:ignore */
						right: var(--global--spacing-horizontal);
					}
				}
			}
		}
	}

	// Top-level Item Link Colors
	.primary-menu > .menu-item:hover > a {
		color: var(--primary-nav--color-link-hover);
	}

	.primary-menu-container {
		@include media(mobile) {
			// Better align with the site title when the menu wraps.
			margin-right: calc(0px - var(--primary-nav--padding));
			margin-left: calc(0px - var(--primary-nav--padding));

			// Top-level Menu Item
			> ul > .menu-item {
				display: flex;

				> a {
					padding-left: var(--primary-nav--padding);
					padding-right: var(--primary-nav--padding);

					+ .sub-menu-toggle {
						margin-left: calc(5px - var(--primary-nav--padding));
					}
				}
			}
		}
	}

	// Menu Item Link
	a {
		display: block;
		font-family: var(--primary-nav--font-family-mobile);
		font-size: var(--primary-nav--font-size-mobile);
		font-weight: var(--primary-nav--font-weight);
		padding: var(--primary-nav--padding) 0;
		text-decoration: none;

		@include media(mobile) {
			display: block;
			font-family: var(--primary-nav--font-family);
			font-size: var(--primary-nav--font-size);
			font-weight: var(--primary-nav--font-weight);
		}

		+ svg {
			fill: var(--primary-nav--color-text);
		}

		&:hover,
		&:link,
		&:visited {
			color: var(--global--color-black);
			.sub-menu a{
				color:#000;
			}
		}

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		&:focus {
			position: relative;
			z-index: 99999; // Ensure focus styles appear above absolute positioned elements
			outline-offset: 0;
			text-decoration-thickness: 2px;
		}
	}

	li.button a{
		padding: 0;
		color: var(--global--color-white);
		font-weight: bold;
	}

	.current-menu-item > a:first-child,
	.current_page_item > a:first-child {
		text-decoration: underline;
		text-decoration-style: solid;

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}

	// Sub-menu depth indicators + text styles
	.sub-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-left: var(--primary-nav--padding);
		border: 1px solid var(--primary-nav--border-color);
		/*a{

		}*/
		.sub-menu {
			border: none;
		}

		// Sub-menu items om wide screens.
		@include media(mobile) {

			// For nested sub-menus, don't duplicate the padding
			> .menu-item > .sub-menu {
				padding: 0;
			}
		}

		.menu-item {

			@include media(mobile-only) {

				&:last-child {
					margin-bottom: 0;
				}

			}

			> a {
				padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
				display: block;
				font-size: var(--primary-nav--font-size-sub-menu-mobile);
				font-style: var(--primary-nav--font-style-sub-menu-mobile);
				color:#000;
				@include media(mobile) {
					font-size: var(--primary-nav--font-size-sub-menu);
					font-style: var(--primary-nav--font-style);
				}
			}
		}
	}

	// Show top-level sub-menu indicators above mobile-breakpoint-only
	.menu-item-has-children {

		> .svg-icon {
			display: none;
		}

		@include media(mobile) {

			> .svg-icon {
				display: inline-block;
				height: 100%;
			}

			.sub-menu .svg-icon {
				display: none;
			}
		}

	}

	.menu-item-description {
		display: block;
		clear: both;
		font-size: var(--global--font-size-xs);
		text-transform: none;
		line-height: 1.7;

		> span {
			display: inline-block;
		}
	}
}

// Keep the menu pinned to the top when the menu is open.
@include media(mobile-only) {

	.lock-scrolling .site {
		position: fixed;
		max-width: 100%;
		width: 100%;
	}
}

// Close button animation for when a custom logo is present.
@keyframes twentytwentyone-close-button-transition {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
