.owner-global,.login{
    > h2{
        padding: 1rem 0;
        & + hr{
            margin-bottom: 1.5rem;
        }
    }

    .h4{
        span{
            color: var(--global--color-orange);
        }
    }

   /*  .inner_form:not(.checkboxes-grid){
        margin: 1rem 0;
    } */

    .custom-roundblock{
        padding: 2rem;
        background-color: var(--global--color-white);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        border-radius: 2rem;
        position: relative;
    }

    .last-ask{
        margin: 2rem 0;
        .cols{
            display: grid;
            grid-template-columns: 30% 40% 30%;
            grid-gap: 1rem;
            @include media(mobile-only){
                grid-template-columns: 1fr;
            }
            .col{
                hr{
                    text-align: left;
                    margin: 1rem 0;
                }
                .custom-grid{
                    display: grid;
                    grid-template-columns: auto auto;
                    width: fit-content;
                    @include media(mobile-only){
                        grid-template-columns: 1fr;
                    }
                    .h4{
                        grid-column: 1/2;
                        padding-right: 4px;
                        text-align: end;
                        @include media(mobile-only){
                            padding-right: 0;
                            text-align: start;
                        }
                    }
                    .commentary{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                                line-clamp: 4; 
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
    .owner-properties-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem;
        article{
            margin-bottom: 0;
            .property_card{
                display: grid;
                grid-template-columns: 1fr;
                height: 100%;
                padding-bottom: 98px;
                grid-auto-rows: min-content;
                position: relative;
                background-color: var(--global--color-white);
                border-radius: 2rem;
                overflow: hidden;
                box-shadow: 10px 10px 45px rgba(0,0,0,.16);
                h3:first-of-type{
                    font-size: 20px;
                    margin: 1rem 1rem 0 1rem;
                }
                > *:not(img){
                    margin: 0 1rem;
                    &:last-child{
                        margin: 1rem auto;
                    }
                }
                .like_container{
                    position: absolute;
                    right: 0;
                    top: calc(275px - 1.5rem);
                    transform: translateY(-50%);
                    svg{
                        cursor: pointer;
                    }
                    &.like{
                        svg *{
                            fill: var(--global--color-white);
                        }
                    }
                }
                h3{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
                }
                .property_services{
                    svg, .svg{
                        width: 2rem; 
                        height: auto;
                    }
                }
    
                .property_city{
                    color: #8F8F8F;
                    font-size: 1.25rem;
                    font-weight: 700;
                }
                .property_price{
                    color: var(--global--color-orange);
                    font-size: 1.25rem;
                    font-weight: 700;
                }
                .property_during{
                    color: #8F8F8F;
                }
                .button{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%,0);
                    width: fit-content;
                    display: block;
                    box-shadow: none;
                    color: var(--global--color-orange);
                    background-color: var(--global--color-transparent);
                    border-color: var(--global--color-orange);
                    transition: all .25s ease-in-out;
                    &:hover{
                        background-color: var(--global--color-orange);
                        color: var(--global--color-white);
                    }
                }
                img{
                    width: 100%;
                    height: 275px;
                    object-fit: cover;
                }
            }
        }
    }

    label[for="property_availability"]{
        margin: 1rem;
        align-self: flex-start !important;
    }

    .checkboxes-grid{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        width: fit-content !important;
        .inner_form.checkboxes{
            flex-direction: column;
        }
        label{
            min-width: unset !important;
            align-self: flex-start !important;
        }
    }

}