.recrutement{
    h2{
        font-size: 55px;
    }
    form{
        display: flex;
        align-items: center;
    }
    #job-search{
        background: #F4F8FD;
        color: var(--global--color-black);
        height: 65px;
        padding-left: 1.5rem;
        @media screen and (max-width:$breakpoint_sm) {
            height: 45px;
        }
    }
    #validate-job{
        background: linear-gradient(225deg, #4AF3FF 0%, #0AF1D0 100%);
        padding: 1rem;
        box-shadow: 0px 15px 30px #0AF1D029;
        border-radius: 1rem;
        border: transparent;
        color: var(--global--color-white);
        width: 50px;
        height: 50px;
        transform: translate(-100%);
    }
}
.offer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    @media screen and (max-width:$breakpoint_lg) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:$breakpoint_sm) {
        grid-template-columns: 1fr;
    }
    .offer{
        background: #fff;
        padding: 2.5rem 4.5rem;
        border-radius: 2rem;
        box-shadow: 0px 0px 59px #00000015;
        h3{
            font-weight: 700;
            margin: 2rem 0;
            font-size: 22px;
        }
        span{
            color: var(--global--color-green);
            font-size: 18px;
        }
    }
}