//slick

.slick-arrow{
	&.slick-prev{
		order: 0;
		left: 1rem;
	}
	&.slick-next{
		order: 2;
		right: 1rem;
	}
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	align-self: center;
	margin: 0 .25rem;
	padding: 8px;
	height: 2rem;
	width: 2rem;
	border-radius: 99rem;
	border: none;
	background-color: var(--global--color-orange);
	color: var(--global--color-white);
	&:hover{
		background-color: var(--global--color-lightorange);
	}
}	

.slider-nav{
	display: flex;
	justify-content: center;
	.slick-dots{
		margin: 0 1rem;
		display: flex;
		padding-left: 0;
		list-style-type: none;
		li{
			&.slick-active{
				::before{
					content: '◦';
					
				}
			}
			::before{
				content: '•';
				cursor: pointer;
			}
			padding: .25rem;
			font-size: 2rem;
		}
	}
}




//CUSTOM PROPERTY SINGLE

.single-property{

	.alignwide{
		margin:0 auto;
		p{
			margin-bottom: 1rem;
		}
	}

	h2:not(.classic-h2){
		font-family: var(--global--font-trebuchet);
		margin: 1.5rem 0 1rem;
		@include media(mobile){
			font-size: 2.25rem;
		}
	}
	.single_main-content{
		padding-top: 80px;
		@include media(mobile-only){
			padding-top: 2rem;
		}
		.cols{
			@include media(mobile-only){
				flex-direction: column;
			}
			display: flex;
			gap: 2rem;
			.col{
				flex-basis: 50%;
				@include media(mobile){
					max-width: 50%;
				}
				&.thumbnail{
					img{
						width: 100%;
						border-radius: 2rem;
					}
				}
				&.content{
					.under_title{
						font-weight: bold;
						font-size: 1.5rem;
						padding: 0.5em 0;
					}
					.button{
						display: block;
						width: fit-content;
						background-color: var(--global--color-transparent);
						padding: .25rem .5rem;
						margin:.5rem 0 1rem;
						color: var(--global--color-gray);
						border: 1px solid var(--global--color-gray);
						box-shadow: none;
						&:hover{
							color: var(--global--color-black);
							border-color: var(--global--color-black);
						}
					}
					p{
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	.services_container{
		background-color: var(--global--color-white);
		margin:0 auto;
		padding: .5rem 0 .5rem 0;
		h2:not(.classic-h2){
			margin:1rem auto;
		}
		.services_pictos{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			@include media(mobile-only){
				grid-template-columns: repeat(2, 1fr);
			}
			.single_picto{
				display: flex;
				align-items: center;
				@include media(mobile-only){
					flex-direction: column;
				}
				svg{
					max-width: 100px;
					height: fit-content;
				}
			}
		}
	}

	h2.classic-h2{
		text-align: center;
	}
	.property_grid{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media screen and (max-width:1200px) {
			grid-template-columns: repeat(2, 1fr);
			@media screen and (max-width:650px) {
				grid-template-columns: 1fr;
			}
		}
		article.property{
			margin-bottom: 0;
			.property_card{
				background-color: var(--global--color-white);
				border-radius: 2rem;
				overflow: hidden;
				box-shadow: 10px 10px 45px rgba(0,0,0,.16);
				h3:first-of-type{
					font-size: 1.5rem;
					margin: 1rem 1rem 0 1rem;
				}
				> *:not(img){
					margin: 0 1rem;
					&:last-child{
						margin: 1rem auto;
					}
				}
				.property_city{
					color: #8F8F8F;
					font-size: 1.25rem;
					font-weight: 700;
				}
				.property_price{
					color: var(--global--color-orange);
					font-size: 1.25rem;
					font-weight: 700;
				}
				.property_during{
					color: #8F8F8F;
				}
				.button{
					width: fit-content;
					display: block;
					box-shadow: none;
					color: var(--global--color-orange);
					background-color: var(--global--color-transparent);
					border-color: var(--global--color-orange);
					transition: all .25s ease-in-out;
					&:hover{
						background-color: var(--global--color-orange);
						color: var(--global--color-white);
					}
				}
				img{
					width: 100%;
					height: 275px;
					object-fit: cover;
				}
			}
		}
		grid-gap: 3rem;
	}
}



//END OF CUSTOM PROPERTY SINGLE

.singular .entry-header {
	border-bottom: none;
	padding-bottom: calc(2 * var(--global--spacing-vertical));
	margin-bottom: 0;
}

.home .entry-header {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.singular .has-post-thumbnail .entry-header {
	border-bottom: none;
	padding-bottom: calc(1.3 * var(--global--spacing-vertical));
	margin-bottom: 0;
}

//Single BLOG

/* .article-single{
	font-size: 24px;
	font-weight: 700;
	span{
		font-weight: 400;
		font-size: 18px;
		color: var(--global--color-gray);

	}
} */

/* .single-header{
	.wrapper-single{
		display: grid;
		grid-template-columns: auto auto;

		@media screen and (max-width:$breakpoint_sm) {
			grid-template-columns: 1fr;
			ul{
				margin-top: 2rem;
			}
		}

		margin-top: 2rem;
		a{
			.svg-icon {
				display: inline-block;
				fill: currentColor;
				vertical-align: middle;
				position: relative;
			}
		}
		ul{
			display: flex;
			justify-content: center;
			list-style: none !important;
			flex-wrap: wrap;
			li{
				padding: 0.15rem 0.75rem !important;
				border-radius: 0.5rem;
				margin: 0.5rem;
				box-shadow: 0px 0px 30px #00000029;
				a{
					text-decoration: none;
					h2{
						font-size: 15px;
						color: var(--global--color-white);
					}
				}
			}
		}
	}
} */

/* //Single JOB
.job{
	margin-top: 2rem;
	header{
		a{
			.svg-icon {
				display: inline-block;
				fill: currentColor;
				vertical-align: middle;
				position: relative;
			}
		}
	}
}
#main .header-job{
	margin-top: 4rem;
	h1{
		font-size: 55px;
		font-weight: 700;
		margin: 1rem 0;
	}
	h2{
		font-size: 24px;
		span{
			color: var(--global--color-green);
			font-size: 18px;
			font-weight: 400;
		}
	}
}

#modal-job{
	margin: 0;
}

.modal-job{
	display: none;
	&.active{
		display: initial;
	}

    position: fixed;
    width: 100%;
    height: 100%;

	backdrop-filter: blur(5px);

    top: 0;
    left: 0;

    z-index: 999;

    background: rgba(0, 0, 0, 0.500);
	h2{
		font-weight: 700;
		font-size: 22px;
		color: var(--global--color-white);
		text-align: center;
		span{
			font-size: 18px;
			color: var(--global--color-green);
		}
	}
    img{
		position: absolute;
		right: 10px;
		top: 10px;
    }
    .modal-box{
		@media screen and (max-width:$breakpoint_sm) {
			max-height: 700px;
			overflow-y: scroll;			
		}

		background-color: #1A202B;
		padding: 2rem 4rem;
		border-radius: 2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 700px;
        height: fit-content;
    }
}
#btn-modale-job{
	border: none;
	color: #000;
	max-width: var(--responsive--aligndefault-width);
} */