#page #content form.owner-contact{
	@include media(mobile-only){
		flex-direction: column;
	}
	display: flex;
	justify-content: start;
	.inner_form{
		width: fit-content;
		margin: 0 1rem;
	}
	.select{
		flex-direction: column;
		width: fit-content;
		select{
			min-width: unset;
			max-width: 250px;
			width: 200px;
		}
		label{
			text-align: start;
			max-width: none;
		}
	}
}

#page{
	form{
		input[type="image"]{
			height: 50px;
			width: 50px;
			background-color: var(--global--color-orange);
			border-radius: 99rem;
			padding: 0.5rem;
			box-shadow: #f0810ac6 10px 10px 45px;
		}
		&.owner-contact{
			input[type="image"]{
				align-self: flex-end;
			}
		}
	}
}

form.property_search_form{
	display: flex;
	gap: 1rem;
	@include media(mobile-only){
		flex-direction: column;
		input#address, select{
			width: 100% !important;
		}
	}
	input[type="image"]{
		height: 56px;
		width: 56px;
		background-color: var(--global--color-orange);
		border-radius: 99rem;
		padding: 0.5rem;
		box-shadow: #f0810ac6 10px 10px 45px;
	}
	.inner_form{
		display: flex;
		flex-direction: column;
		label{
			font-weight: bold;
			margin-left: 1rem;
		}
		input:not([type="image"]), select{
			margin-left: 0;
			height: 50px !important;
		}
		select{
			width: 250px;
		}
		input#address{
			width: 175px;
		}
		&.submit-image{
			align-self: flex-end;
			@include media(mobile-only){
				margin: 0 auto;
			}
		}
	}
}
.chackboxselect{
	@include media(mobile-only){
		flex-direction: column;
	}
}
.container_checkbox{
	display: flex;
	flex-direction: column;
	width: 50%;
    min-width: 400px;
    margin: 0;
	@include media(mobile-only){
		max-width: 90%;
		width: 100%;
		min-width: unset;
		gap: 0.25rem;
	}
	input{
		margin-right: .5rem;
	}
}

#time-machine.active{
	position: relative;
	input{
		padding-left: 4rem !important;
	}
	&::before{
		content: '';
		@include media(mobile){
			top: 25%;
		}
		left: calc(50% - 135px);
		background-image: url('./assets/images/sablier.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 32px;
		height: 32px;
		position: absolute;
		transform-origin: center;
		animation: rotation 1s ease-in-out infinite;
	}
}

@keyframes rotation {
	from{
		transform: rotate(0);
	}
	80%{
		transform: rotate(1turn);
	}
	to{
		transform: rotate(1turn);
	}
}

form#ask_property_form > section {
	min-height:calc(100vh - 106px);
	padding: 2rem 0;
	scroll-margin: 106px;
	display: grid;
	place-items: center;
	@include media(mobile-only){
		min-height: unset;
		padding: 0;
		.btn_container{
			display: none !important;
		}
		.btn_container:nth-last-child(2){
			display: flex !important;
		}
	}
	#ask_property_send_ok{
		text-align: center;
		padding: 4rem 0 2rem 0;
		text-decoration: underline;
		text-underline-offset: 4px;
		text-decoration-color: var(--global--color-green);
	}
	hr{
		margin-top: 2rem;
	}
	h2{
		text-align: center;
	}
	.custom_need_form{
		padding: 2rem 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		place-items: center;
		@include media(mobile-only){
			grid-template-columns: 1fr;
		}
		span{
			border: 2px solid var(--global--color-orange);
			border-radius: var(--button--border-radius);
			cursor: pointer;
			font-weight: var(--button--font-weight);
			font-family: var(--button--font-family);
			font-size: var(--button--font-size);
			line-height: var(--button--line-height);
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);
			display: block;
			background-color: var(--global--color-white);
			width: 100%;
			height: fit-content;
			&.active{
				background-color: var(--global--color-orange);
				color: var(--global--color-white);
			}
			&:hover{
				border-color: var(--global--color-gray);
			}
			@include media(mobile-only){
				font-size: 1rem;
			}
		}
	}
	.inner_section{
		display: flex;
		flex-direction: column;
		padding: 2rem 0;
	}
	
}



.lost-pswd{
	text-align: center;
	margin: 1rem;
	display: block;
}
#page form:not(.property_search_form){
	margin-top: 0;
	margin-bottom: 0;
	//padding-top: 132px;
	.inner_form-container{
		display: flex;
		align-items: center;
		gap: .5rem;
	}
	input[type="submit"]{
		margin: 0 auto !important;
		text-align: center;
	}
	.select{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
	.form-info{
		max-width: 90%;
		margin: 1rem auto;
		@include media(mobile){
			margin: 0 auto;
			width: calc(150px + 1rem + 50%);
			padding-left: 166px;
		}
	}
	.inner_form,.login-username,.login-password{
		position: relative;
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin: 1.5rem 0;
		width: 100%;
		@include media(mobile-only){
			flex-direction: column;
			max-width: 90%;
			margin: 1rem auto;
			gap: 0.25rem;
		}
		#pwdView{
			@include media(mobile){
				position: absolute;
				bottom: 0;
				left: 340px;
				transform: translateY(100%);
			}
			//color: rgb(24, 0, 142);
			cursor: pointer;
			text-decoration: underline;
		}
		&.checkboxes{
			label{
				align-self: flex-start;
			}
			.solo_checkbox{
				display: flex;
				margin-bottom: .5rem;
				input[type="checkbox"]{
					border-color: var(--global--color-black);
					border-width: 1px;
					margin-right: .5rem;
				}
			}
		}
		.checkboxes_custom{
			display: flex;
			flex-direction: column;
		}
		&:not(:last-child){
			width: 100%;
		}
		&:not(.checkboxes) label{
			margin-bottom: 0;
			font-weight: bold;
			width: 100%;
			max-width: 150px;
			text-align: end;
			align-self: center;
			@include media(mobile-only){
				margin-bottom: 0;
				font-weight: bold;
				min-width: 0;
				text-align: start;
				align-self: flex-start;
			}
		}
		textarea{
			min-height: 130px !important;
		}
		.inner_form-custom{
			@include media(mobile){
				width: 50%;
				min-width: 400px;
			}
			margin: 0;
			#leave_date_display{
				margin-bottom: 1rem;
				> span{
					margin-bottom: .5rem;
					width: fit-content;
					cursor: initial;
				}
				.remove{
					cursor: pointer;
					margin-left: .5rem;
					&:hover{
						color: var(--global--color-red);
					}
				}
			}
			#add_leave_date{
				@include media(mobile-only){
					grid-template-columns: 1fr;
					button{
						grid-column: 1 !important;
					}
				}
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: .5rem;
				button{
					grid-column: span 2;
					width: fit-content;
					margin: .5rem auto;
				}
				input:not([type="checkbox"]):not([type="radio"]):not([type="image"]){
					width: 100%;
					min-width: unset;

				}
			}

		}
		input:not([type="checkbox"]):not([type="radio"]):not([type="image"]),select,textarea{
			width: 50%;
			min-width: 400px;
			margin: 0;
			height: 50px;
			min-height: 40px;
			padding: .75rem 1.5rem;
			border: 1px solid transparent;
			@include media(mobile-only){
				width: 100%;
				min-width: unset;
				text-align: start;
				align-self: flex-start;
			}
		}
		input[type="radio"] + label{
			min-width: unset;
		}
		input:valid{
			border-left: var(--global--color-green) 2px solid !important;
			&[type="checkbox"]{
				border: var(--global--color-black) 2px solid;
			}
			&[type="radio"]{
				border-left: var(--global--color-black) 1px solid;
			}
			&[type="date"],&[type="number"]{
				border-color: transparent;
			}
		}
		input:invalid{
			border-left: var(--global--color-red) 2px solid !important;
		}
	}
	.btn_container{
		@include media(mobile-only){
			flex-direction:column;
		}
		display: flex;
		justify-content: center;
		a.button, input[type="submit"]{
			width: fit-content;
			align-self: center;
			margin: 1rem;
			&:hover,
			&:active {
				background-color: var(--global--color-lightorange);
				color: var(--global--color-white);
			}
		}
	}
}



input[type="submit"]{
	@include button-style();
	width: fit-content;
	font-weight: 700;
	align-self: flex-end;
	&:hover{
		background: var(--global--color-lightorange);
		color: var(--global--color-white);
	}
}

select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.site textarea {
	background-color: var(--form--color-background);
	border: var(--form--border-width) solid var(--form--border-color);
	border-radius: var(--form--border-radius);
	color: var(--form--color-text);
	line-height: var(--global--line-height-body);
	padding: .25rem 1rem;
	// Gives a little more space for the outline offset.
	margin-top: -7px;
	margin-left: 1rem;
	width: 70%;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	&:focus {
		color: var(--form--color-text);
		outline-offset: 2px;
		outline: 2px dotted var(--form--border-color);
	}

	&:disabled {
		opacity: 0.7;
	}

	.is-dark-theme & {
		background: var(--global--color-white-90);
	}
}

// Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {

	&:focus {
		outline-offset: -7px;

		.is-dark-theme & {
			outline-color: var(--global--color-background);
		}
	}
}

input[type="color"] {
	padding: calc(var(--form--spacing-unit) / 2);
	height: calc(4 * var(--form--spacing-unit));
}

input[type="email"],
input[type="url"] {

	/*rtl:ignore*/
	direction: ltr;
}

select {
/* 	border: var(--form--border-width) solid var(--form--border-color);
	color: var(--form--color-text);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: var(--global--line-height-body);
	padding: var(--form--spacing-unit) calc(3 * var(--form--spacing-unit)) var(--form--spacing-unit) var(--form--spacing-unit);
	background: var(--global--color-white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right var(--form--spacing-unit) top 60%;
 */
	&:focus {
		outline-offset: 2px;
		outline: 2px dotted var(--form--border-color);
	}

	.is-dark-theme & {
		background: var(--global--color-white-90) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
		background-position: right var(--form--spacing-unit) top 60%;
	}
}

textarea {
	width: 100%;
}

label {
	font-size: var(--form--font-size);
	font-weight: var(--form--label-weight);
	margin-bottom: calc(var(--global--spacing-vertical) / 3);
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 1rem;
		height: 1rem;
		border: var(--form--border-width) solid var(--form--border-color);
		background: var(--global--color-white);

		&:disabled {
			opacity: 0.7;
		}

		.is-dark-theme & {
			background: var(--global--color-white-90);
		}
	}

	input[type="checkbox"] {

		&:focus {
			outline-offset: 2px;
			outline: 2px dotted var(--form--border-color);
		}

		&:after {
			content: "✗";
			opacity: 0;
			display: block;
			font-size: 1rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

		&:checked {
			color: var(--form--color-text);

			&:after {
				opacity: 1;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:focus {
			outline-offset: 2px;
			outline: 2px dotted var(--form--border-color);
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			width: 70%;
			height: 70%;
			border-radius: 50%;
			background: var(--form--color-text);
		}

		&:checked {
			border: 4px solid var(--form--border-color);

			&:after {
				opacity: 1;
			}

			// Focus style for checked radio buttons.
			&:focus {
				outline-offset: 4px;
				outline: 2px dotted var(--form--border-color);
			}
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	padding-left: 10px;
	font-size: var(--global--font-size-xs);
	vertical-align: top;
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		height: 6px;
		background: var(--form--color-ranged);
		border-radius: 6px;
		outline-offset: 10px;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 3px solid var(--form--color-ranged);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: var(--global--color-background);
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		border: 3px solid var(--form--color-ranged);
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: var(--global--color-background);
		cursor: pointer;
		box-sizing: border-box;
	}
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	border-radius: 6px;
	border-width: 19px 0;
	border-color: var(--global--color-background);
	background: transparent;
	color: transparent;
	cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
	background: var(--form--color-ranged);
	border-radius: 6px;
}

input[type="range"]::-ms-fill-lower {
	background: var(--form--color-ranged);
	border-radius: 6px;
}

input[type="range"]::-ms-thumb {
	border: 3px solid var(--form--color-ranged);
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background: var(--global--color-background);
	cursor: pointer;
}

fieldset {
	display: grid;
	border-color: var(--global--color-secondary);
	padding: var(--global--spacing-horizontal);

	legend {
		font-size: var(--global--font-size-lg);
	}

	input {

		&[type="submit"] {
			max-width: max-content;
		}

		&:not([type="submit"]) {
			margin-bottom: var(--global--spacing-unit);
		}

		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}

		&[type="radio"] + label,
		&[type="checkbox"] + label {
			font-size: var(--form--font-size);
			padding-left: 0;
			margin-bottom: var(--global--spacing-unit);
		}
	}
}

::-moz-placeholder { // Firefox 19+
	opacity: 1;
}

.post-password-message {
	font-size: var(--global--font-size-lg);
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(var(--global--spacing-vertical) / 3);
		margin-right: calc(0.66 * var(--global--spacing-horizontal));
	}

	&__submit {
		margin-top: calc(var(--global--spacing-vertical) / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * var(--global--spacing-horizontal));
		}
	}
}

.mobile-unshown{
	@media screen and (max-width:$breakpoint_sm) {
		display: none;		
	}
}