/* Over here, place any elements that do not need to have their own file. */
b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

pre {
	white-space: pre;
	overflow-x: auto;
}

.info_ask{
	@include media(mobile-only){
		font-size: 1rem !important;
	}
	width: fit-content;
	/*position: fixed;
	bottom: 3rem;
	right: 10%;*/
	z-index: 999;
	margin: auto;
}